body { background: #3cbde; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 53px; display: flex; }
.block-search-0 { color: #70f550; font-size: 20px; margin-bottom: 5px; }
.block-helper-1 { color: #a4cd3a; font-size: 21px; margin-bottom: 5px; }
.block-cluster-2 { color: #9b01c3; font-size: 19px; margin-bottom: 5px; }
.block-logger-3 { color: #a12b78; font-size: 20px; margin-bottom: 5px; }
.block-helper-4 { color: #13a394; font-size: 16px; margin-bottom: 5px; }